.u-section-1 .u-sheet-1 {
  min-height: 783px;
}

.u-section-1 .u-text-1 {
  margin: 201px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 22px auto 0;
}

.u-section-1 .u-icon-2 {
  width: 45px;
  height: 45px;
  margin: 29px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 45px;
  height: 45px;
  margin: -45px auto 0 442px;
  padding: 0;
}

.u-section-1 .u-icon-4 {
  width: 45px;
  height: 45px;
  margin: -45px auto 0 653px;
  padding: 0;
}

.u-section-1 .u-icon-5 {
  width: 45px;
  height: 45px;
  margin: -45px auto 0 337px;
  padding: 0;
}

.u-section-1 .u-icon-6 {
  width: 45px;
  height: 45px;
  margin: -45px auto 0 758px;
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 14px auto 0 324px;
}

.u-section-1 .u-text-3 {
  margin: -25px auto 0 417px;
}

.u-section-1 .u-text-4 {
  margin: -25px auto 0;
}

.u-section-1 .u-text-5 {
  margin: -25px 438px 0 auto;
}

.u-section-1 .u-text-6 {
  margin: -25px 338px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 781px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 364px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 538px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 278px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: -55px;
    margin-left: 625px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 269px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 345px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 442px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 361px;
    margin-left: 536px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 279px;
    margin-left: 627px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-icon-2 {
    margin-right: 328px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 239px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 236px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 140px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: -45px;
    margin-right: 137px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 128px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 220px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 315px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 232px;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -26px;
    margin-right: 138px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-icon-2 {
    margin-right: auto;
    margin-left: 225px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 127px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 172px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 25px;
  }

  .u-section-1 .u-icon-6 {
    margin-right: 75px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 13px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 102px;
  }

  .u-section-1 .u-text-4 {
    margin-right: auto;
    margin-left: 212px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -26px;
    margin-right: 168px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 75px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-icon-2 {
    width: 35px;
    height: 35px;
    margin-top: 39px;
    margin-right: 135px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-3 {
    width: 35px;
    height: 35px;
    margin-top: -35px;
    margin-left: 101px;
  }

  .u-section-1 .u-icon-4 {
    width: 35px;
    height: 35px;
    margin-top: -35px;
    margin-right: 72px;
  }

  .u-section-1 .u-icon-5 {
    width: 35px;
    height: 35px;
    margin-top: -35px;
  }

  .u-section-1 .u-icon-6 {
    width: 35px;
    height: 35px;
    margin-top: -35px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 263px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -86px;
    margin-left: 74px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 35px;
    margin-right: 117px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: -86px;
    margin-right: 63px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 35px;
    margin-right: 10px;
  }
}